<!DOCTYPE html>
<html>
    <head>
        <title>Revello -- olleveR</title>
        <link rel="stylesheet" type="text/css" href="game.css">
        <!-- Firebase -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script type='text/javascript' src='//cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js'></script>
        <script src="//cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
        <!-- AngularJS -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>

        <script type="text/javascript" src="controllers.js"></script>
        <script type="text/javascript" src="services.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-app="RevelloApp" ng-controller="revelloController">
        <div class="login">
            <div ng-if="logged_in === false"><a href="#" ng-click="doLogin($event)">Log in</a></div>
            <div ng-if="logged_in !== false">You are logged in as {{ logged_in.displayName }} through {{ logged_in.provider }}. <a href="#" ng-click="doLogout($event)">Log out</a></div>
        </div>
        <div class="header">
            <h1 class="clearfix">
                Revello -- olleveR
            </h1>
            <span class="turn p1" ng-class="{active: player == 1}">
                <span class="square p1">
                </span>
                Player 1: {{ p1Score }}
            </span>
            <span class="turn p2" ng-class="{active: player == 2}">
                <span class="square p2">
                </span>
                Player 2: {{ p2Score }}
            </span>
        </div>
        <div class="board" ng-class="{p1: player == 1, p2: player == 2}">
            <div class="square" ng-repeat="square in data.boardSquares track by $index"
                ng-class="{offcolor: offColorIdx[$index], p1: square == 1, p2: square == 2, option: square == 'O'}"
                ng-click="makeMove($index)">
            </div>
        </div>
        <div class="header">
            <div ng-if="movesPossible > 0">Moves available: {{ movesPossible }}</div>
            <div ng-if="!movesPossible && won === false">No moves. <button ng-click="makeMove(null)">You must pass</button></div>
            <div ng-if="won !== false">Game over! {{ won }}</div>
        </div>
    </body>
</html>
