<div class="header">
    <h1 class="clearfix">
        Revello -- olleveR
    </h1>
    <span class="turn p1" ng-class="{active: player == 1}">
        <span class="square p1">
        </span>
        Player 1: {{ p1Score }}
    </span>
    <span class="turn p2" ng-class="{active: player == 2}">
        <span class="square p2">
        </span>
        Player 2: {{ p2Score }}
    </span>
</div>
<div class="board" ng-class="{p1: player == 1, p2: player == 2}">
    <div class="square" ng-repeat="square in data.boardSquares track by $index"
        ng-class="{offcolor: offColorIdx[$index], p1: square == 1, p2: square == 2, option: square == 'O'}"
        ng-click="makeMove($index)">
    </div>
</div>
<div class="header">
    <div ng-if="movesPossible > 0">Moves available: {{ movesPossible }}</div>
    <div ng-if="!movesPossible && won === false">No moves. <button ng-click="makeMove(null)">You must pass</button></div>
    <div ng-if="won !== false">Game over! {{ won }}</div>
</div>

