div { box-sizing: border-box; }
.board {
    margin: 0 auto;
    border: 1px solid black;
    width: 41em;
    height: 41em;
    overflow: hidden;
}
.board .square {
    width: 12.5%;
    height: 12.5%;
    border: 1px solid gray;
    float: left;
    background-color: #BBFFBB;
    text-align: center;
}
.board .square.offcolor {
    background-color: #66FF66;
}
.board .p1:before, .board .p2:before {
    border-radius: 50%; width: 80%; height: 80%; display: block; margin-top: 10%; margin-left: 10%; content: '';
}
.board .p1:before {
    background-image: -moz-radial-gradient(50% 50% 45deg, circle cover, black 0%, #999 100%, black 95%);
    background-image: -webkit-radial-gradient(50% 50%, circle cover, black, #999);
    background-image: radial-gradient(50% 50% 45deg, circle cover, black 0%, #999 100%, black 95%);
}
.board .p2:before {
    background-image: -moz-radial-gradient(50% 50% 45deg, circle cover, white 0%, #ccc 100%, white 95%);
    background-image: -webkit-radial-gradient(50% 50%, circle cover, white, #ccc);
    background-image: radial-gradient(50% 50% 45deg, circle cover, white 0%, #ccc 100%, white 95%);
}
.board.p1 {
    color: black;
}
.board.p2 {
    color: white;
}
.square.option { cursor: pointer; }
.board .square.option:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7"; /* use the hex value here... */
    font-size: 4em;
    text-align: center;
}
