body { font-family: Arial, Helvetica, Verdana; background-color: #62caff; }
div { box-sizing: border-box; }
.board, .header, .footer {
    margin: 0 auto;
    border: 1px solid black;
    width: 36em;
    overflow: hidden;
    text-align: center;
    background-color: #62caff;
    border: 1em solid #62caff;
    color: white;
}
.header { border: 0; margin-bottom: -1em; padding-left: 1em; padding-right: 1em; }
.footer { border: 0; padding-bottom: 1em; padding-left: 1em; padding-right: 1em; }
.board {
    height: 36em;
}
.board .square {
    width: 12.5%;
    height: 12.5%;
    float: left;
    text-align: center;
    position: relative;
}
.board .square:before {
    border-radius: 50%; width: 70%; height: 70%; display: block; margin-top: 15%; margin-left: 15%; content: ''; position: absolute;
    background-color: #83d5ff;
    border: 2px solid rgba(194, 234, 255, 0.5)/* #c2eaff */;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.board .square.p1:before {
    background-color: #ff657e;
    border: 2px solid black;
}
.board .square.p2:before {
    background-color: #ffd75a;
    border: 2px solid black;
}
/* generated with http://www.patternify.com/ */
.board.p2 .square.option:before {
    border: 2px solid #ffd75a !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwAH+X4v6z4hNDiyhtYwRQxImAdKEIoksgSKJLgGXxCYBlsQlAZIEAHpSGzbzWhovAAAAAElFTkSuQmCC);
}
.board.p1 .square.option:before {
    border: 2px solid #ff657e !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwAH+p9b9Z8QmB5aY3cSIIQmTAGlCkUSWQJFEl4BLYpMAS+KSAEkCAD25GumZiypjAAAAAElFTkSuQmCC);
}
.square.option { cursor: pointer; }
.header h1 {
    margin: 0.25em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.turn {
    display: block;
    width: 12.5%;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
.turn.p1 { float: left; color: #ff657e; }
.turn.p2 { float: right; color: #ffd75a; }
.header .turn .square:before {
    width: 2em; height: 2em; display: inline-block; margin: 0; position: relative; top: 0.75em;
}

.clearfix { clear: both; }
