div { box-sizing: border-box; }
.board, .header {
    margin: 0 auto;
    border: 1px solid black;
    width: 41em;
    overflow: hidden;
    text-align: center;
}
.board {
    height: 41em;
}
.board .square {
    width: 12.5%;
    height: 12.5%;
    border: 1px solid gray;
    float: left;
    background-color: #BBFFBB;
    text-align: center;
}
.board .square.offcolor {
    background-color: #66FF66;
}
.square.p1:before, .square.p2:before {
    border-radius: 50%; width: 80%; height: 80%; display: block; margin-top: 10%; margin-left: 10%; content: '';
}
.p1:before {
    background-color: #666;
    /*box-shadow: inset 1px 1px 1px 1px rgba(255,255,255,0.25);*/
    /*box-shadow: inset -1px -1px 3px 0px rgba(255,255,255,0.5);*/
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.25);
}
.p2:before {
    background-color: #eee;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.25);
    /*box-shadow: inset -1px -1px 3px 0px rgba(255,255,255,0.5);*/
}
.board.p2 .square {
    color: white;
}
.board.p1 .square {
    color: black;
}
.square.option { cursor: pointer; }
.board .square.option:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7"; /* use the hex value here... */
    font-size: 4em;
    text-align: center;
}
.header h1 {
    text-align: center;
    margin: 0;
}
.header .turn {
    display: inline-block;
    width: 25%;
    padding-bottom: 1em;
}
.header .turn.active { background-color: #ccc; }
.header .turn .square:before {
    width: 2em; height: 2em; display: inline-block; margin: 0; position: relative; top: 0.75em;
}

.clearfix { clear: both; }
