<% layout("layout") -%>

<div class="board" id="mainBoard">
    <% _.times(64, function(n) { %>
        <div class="square" id="sq<%=n%>"></div>
    <% }) %>
</div>
<script src="/scripts/ext/require-jquery.js" type="text/javascript"></script>
<script>
    require.config({
        baseUrl: "/scripts"
    });
    require(["game"], function() {});
</script>

