<!DOCTYPE html>
<html lang="en">
<head>
<title>Revello -- olleveR</title>
<link rel="stylesheet" type="text/css" href="/less/styles.css" />
</head>
<body>
<div class="container fullHeight <%-blocks.pageClass%>" style="margin-top: 4px;">
    <!-- Header -->
    <div class="row">
        <div class="span8 pageHeader">
            Revello -- olleveR
        </div>
        <div class="span4 loginPanel">&nbsp;

        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Body -->
    <%- body %>

    <!-- Footer -->
    <div class="row">
        <div class="span12 footer">
            Revello.olleveR
        </div>
    </div>
</div>

</body>
</html>


